:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
    min-width: 220px;
    text-align: center;
}

#title {
    font-size: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
  border-radius: 20px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
